body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #007BFF;
    color: #ffffff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #0056b3;
    color: #ffffff;
}

.banner {
    background: url('CartoonSky.png') no-repeat center center;
    background-size: cover;
    background-color: #f2f2f2;
    color: #ffffff;
    text-align: center;
    padding: 50px 20px;
}

.banner h1 {
    margin: 0;
    font-size: 40px;
}

.banner p {
    font-size: 24px;
    color: #ffffff;
}

.signin-form {
    background: rgba(255, 255, 255, 0.8);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    color: #666;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


.form-group.radio-group {
    display: flex;
    align-items: center;
}

.form-group.radio-group label {
    margin-right: 10px;
    margin-bottom: 0;
}

.form-group.radio-group input {
    margin-right: 5px;
}

#styledTable {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    margin-top:1rem;
}

#styledTable td, #styledTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#styledTable tr:nth-child(even){background-color: #f2f2f2;}

#styledTable tr:hover {background-color: #ddd;}

#styledTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #007BFF;
    color: white;
}
#selectDiv{
    text-align: center;
}

.about-description {
    text-align: center;
}