
form.example input[type=text] {
    padding: 12px;
    font-size: 20px;
    border: 1px solid grey;
    float: right;
    width: 20%;
    background: #f1f1f1;
  }

  /* 设置提交按钮 */
form.example button {
    float: right;
    width: 10%;
    padding: 12px;
    background: #2196F3;
    color: white;
    font-size: 20px;
    border: 1px solid grey;
    border-left: none; /* 防止双边框 */
    cursor: pointer;
  }
   
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  html, body {
    margin: 0;
    padding: 0;
    height: 90%;
    
  }
  .wrapper {
    min-height: 120%;  
    margin-bottom: -50px; /* 等于footer的高度 */
  }
  .footer, .push {
    height: 10px;
    color: rgb(79, 5, 85);    /* 设置字体颜色 */
    font-weight: 1000;  /*  设置字体粗细   */
  }